- if @accounts.length > 0
  %table{:class => 'table table-bordered table-striped'}
    %thead
      %tr
        %th 似たような語彙のユーザーアカウント
    %tbody
      %tr
        %td
          - @accounts.each do |account|
            = link_to account, "http://twitter.com/#{account}", :target => "_blank"

