.span10.offset1
  - unless @values.nil?
    %table{:class => 'table table-bordered table-striped'}
      %thead
        %tr
          %th 語彙(件数)
      %tbody
        %tr
          %td
            - @values.each do |k, v|
              - if k == "最高" or k == "便利"
                %b{:style => 'color:red;'}
                  = k + "(" + v.to_s + ") "
              - else
                = k + "(" + v.to_s + ") "

  %p{:class=>"pull-right pager"}
    = link_to "語彙抽出器に戻る", new_record_path
