.span6
  %p
    %b
      なにこれ
  %p
    調査対象の Twitter ユーザーがよく使う語彙を抽出します。
  %p
    %b
      どうやって使うの
  %p
    Twitter の名前をスクリーンネームに入力して「送信する」ボタンをクリックしてください。対象のユーザーアカウントの語彙が表示されます。 ID で検索することもできます。
  %p
    %b
      見つかりませんって表示されたんだけど？
  %p
    調査対象外です。
  %p
    %b
      対象は？
  %p
    2011 年から 2013 年 8 月までが観測対象期間です。期間中にインターネット全体に公開された発言から任意収集したデータが対象となっています。現在は非公開または削除されたユーザーでも期間中に対象となっていれば表示されます。なお観測が者対象とした期間に観測された語彙から件数を抽出しています。したがって実際に発言した件数とは差異があります。
  %p
    %b
      調査対象外にしてほしい
  %p
    お手数ですが個別に連絡をお願いします。メールアドレスは<a href="&#109;&#97;&#105;&#108;t&#111;&#58;7&#55;&#52;&#64;id&#55;7&#52;&#46;&#110;e&#116;">こちら</a>です。

  %p{:class=>"pull-left pager"}
    = link_to "実装の説明", "http://blog.id774.net/post/2013/09/24/402/"
