.apps-new-page
  .page-header
    %h2 New
    %small This is a sample new page.

  .row
    .span12
      = render 'form'

.row
  .span10.offset1
    %p.pull-left.pager
      = link_to 'Back', records_path

